---
layout: default
---

  {% for category in site.categories %}
    <ul><a name="{{ category | first }}"><h1 class="page-heading">{{ category | first }}</h1></a>
      <ul class="post-list">
      {% for posts in category %}
        {% for post in posts %}
          <li>
                <h2 id="post-index">
                 <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </li>
        {% endfor %}
      {% endfor %}
      </ul>
    </ul>
  {% endfor %}
